.wrapperr{
	width: 32px;
	height: 32px;
	background-color: #21201F;
	border-radius: 8px;
	padding: 6px;
	z-index: 1;
}
.default{
	height: 16px;
	width: 16px;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	&__wrapper{
		width: 13px;
		height: 13px;
		border: 1px solid #21201F;
		border-radius: 7px;
		background-color: white;
	}
}
.normis {
	background-color: white;
	border-radius: 12px;
	height: 32px;
	padding: 9px 8px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.15);
	display: flex;
	gap: 4px;
	align-items: center;
	position: relative;
	transform: translate(-50%, -115%);
	transition: all 0.3s ease;
	&__focused{
		background-color: #21201F;
		color: white;
		transition: all 0.3s ease;
	}
	&__text{
		font-weight: 500;
		font-size: 13px;
		max-width: 110px;
		min-width: 17px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 13px;
	}
	&__icon{
		width: 14px;
		height: 14px;
		transform: translateY(-1px);
	}
	&__rating{
		font-weight: 400;
		font-size: 13px;
	}
	&__corner{
		position: absolute;
		bottom: -7px;
		left: 50%;
		transform: translateX(-50%);
	}
	&__bookmark{
		background-color: white;
		width: 12px;
		height: 12px;
		box-sizing: content-box;
		position: absolute;
		right: -5%;
		top: -22%;
		padding: 4px 5px;
		border-radius: 6px;
		transition: all 0.3s ease;
		&__focused{
			background-color: #21201F;
		}
	}
}
.sexy{
	background-color: white;
	border-radius: 12px;
	height: 46px;
	padding: 9px 8px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.15);
	position: relative;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1px;
	z-index: 1;
	&__container{
		transform: translate(-50%, -115%);
		height: 89px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	&__descr{
		font-size: 11px;
		font-weight: normal;
	}
	&__wrapper{
		display: flex;
		gap: 4px;
		align-items: center;
	}
	&__focused{
		background-color: #21201F;
		color: white;
	}
	&__tags{
		display: flex;
		flex-direction: row;
		gap: 4px;
		position: absolute;
		left: 4px;
		top: 4px;
	}
}
.sexy_photo{
	position: absolute;
	z-index: -2;
	border-radius: 8px;
	// transform: translate(-50%, -115%);
	height: 60px;
	width: 100%;
	object-fit: cover;
	// bottom: -37px;
	top: 0px;
	left: 0px;
}