.collections_container {
    padding: 16px;
}

.collection_items {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.collection_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection_info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.collection_image_hard {
    width: 86px;
    height: 86px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.collection_image_hard img  {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    object-fit: cover;
}

.collection_image img {
    width: 86px;
    height: 86px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 12px;
}

.collection_text {
    display: flex;
    flex-direction: column;
}

.collection_name {
    font-weight: bold;
    font-size: 16px;
}

.collection_subtext {
    color: #888;
    font-size: 12px;
}

.collection_radio {
    width: 24px;
    height: 24px;
}

.save_button {
    background-color: '#ffc107';
    border: 'none';
    padding: '10px 20px';
    border-radius: '5px';
    cursor: 'pointer';
    width: '100%';
}
