.container {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}
.title {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}
.info {
    color: gray;
    margin-bottom: 20px;
}
.description {
    margin-bottom: 20px;
    color: gray;
}
.tags {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}
.tags::before, .tags::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    pointer-events: none;
    z-index: 2;
}
.tag {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.9em;
    margin-right: 10px;
    white-space: nowrap;
    color: gray;
}
/* .tags-wrapper {
    display: flex;
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 5)); /* ширина тэга * количество тегов */
    /* } */
/* } */
/* .rating {
    font-weight: bold;
    display: flex;
    align-items: end;
}
.star {
    color: black;
    margin-right: 5px;
}
.title-rating {
    display: flex;
} */
.info-separator {
    margin: 0 5px;
}

.image {
    width: 100%;
    height: auto;
}

.image-with-favourite {
    position: relative;
    display: inline-block;
}
  
/* .image-with-favourite .fav_button {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin-right: 10px;
    margin-top: 10px;
} */

.fav_button {
    position: absolute;
    right: 0;
    z-index: 5;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-right: 50px;
    /* display: inline-block; */
    /* vertical-align: top; */
    /* border-radius: 10%; */
}

.snippet {
    border-radius: 10%;
    /* overflow: hidden; */
    /* width: fit-content; */
    /* max-width: 100%; */
    /* height: auto; */
}

.rating {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
}

.star {
    color: black;
    margin-right: 5px;
}
.title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  