.filters {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}
.filters::before, .filters::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    pointer-events: none;
    z-index: 2;
}
.filter {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.9em;
    margin-right: 10px;
    white-space: nowrap;
    color: gray;
    font-weight: 600;
}

.info-separator {
    margin: 0 5px;
}

.filters_button {
    margin-right: 5px;
}